<h3 class="text-center m-3">Employee Details</h3>
<div class="container mt-3" style="border: 1px solid black; width: 30%; border-radius: 10px; padding: 20px;">
    <div>
        <label for=""><b>Employee Id :-</b></label>{{prefix}}{{emp.id}}
    </div>
    <div>
        <label for=""><b>First Name :-</b></label> {{emp.firstName}}
    </div>
    <div>
        <label for=""><b>Last Name :-</b></label> {{emp.lastName}}
    </div>
    <div>
        <label for=""><b>Employee Id :-</b></label> {{emp.email}}
    </div>
</div>