<h1 class="text-center m-3">Add an Employee</h1>

<div class="col-md-6  offset-md-3">

    <form action="" (ngSubmit)="saveEmployee()" >

        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="emp.firstName" placeholder="Enter First Name">
        </div>
    
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="emp.lastName" placeholder="Enter Last Name">
        </div>
        
        <div class="form-group">
            <label for="">Email id</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="emp.email" placeholder="Enter Email ID">
        </div>
    
        <div class="col-md-12 text-center">
            <button class="btn btn-success m-3 " type="submit">Submit</button>
        </div>
        
    
    </form>
    
</div>

