
<h1 class="text-center m-3">Employee List</h1>

<table class="table table-striped table-center m-3">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Id</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.email}}</td>
            <td>
                <button (click)="updateEmployee(emp.id)" class="btn btn-outline-info ">Update</button>
                <button (click)="deleteEmployee(emp.id)" class="btn btn-outline-danger m-2">Delete</button>
                <button (click)="employeeDetails(emp.id)" class="btn btn-outline-primary m-2">All Details</button>
            </td>
        </tr>
    </tbody>

</table>